.form{
    background-image: url('../assets/img1.jpg');
    background-size:1600px;
    height: 150%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 70%;
    margin-top: 5%;
    transform: translateX(24%);
    opacity: .8;
    padding: 30px 13px 50px;
}

.l-reference{
    color: rgb(249, 246, 246);
    font-size: .9em;
    font-weight: bold;
    
    }
.reference{
            border: none;
            color:rgb(245, 241, 241);
              border-bottom:1px solid rgb(245, 241, 241);
              width: 80%;
              padding: 5px 0;
              margin-bottom: 4%;
              font-size: .8;
              background-color: transparent;
              outline: none;
    }
    .champ{
      margin-left: 5%;
    }
.submit{
    color: #090909;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    background: transparent;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    width: 12%;
    transform: translate(50%,50%);
}
   
 .submit:hover {
    border: 1px solid black;
    transition: all .3s;
   }
   .title{
    margin: 35px 0;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    letter-spacing: .2em;
    line-height: 10px;
}

.name{
    color: black;
    font-size: 1.5rem;
}
.name:hover{
    text-decoration: none;
    color: rgb(27, 100, 173);
    transition: all .25s;
}
h4{
    margin-top: 2%;
    margin-bottom: 1rem;
}
/* pagination */
/* svg {
    vertical-align: middle;
    width: 5%;
    background: none;
}
nav{
    width: 100%;
    background: none;
}
.container{
    margin-left: 20%;
    width: 70%;
} */

/* .supp{
    outline: none;
    background-color: transparent;
    color: rgba(27, 100, 173);
    border: 1px solid rgba(27, 100, 173);
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    padding: .4em ;
} */
.card-deck{
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    justify-items: right;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}
@media(max-width : 1024px){
    .form{
        background-size: 1000px;
    }
    .card-deck{
        display:inline-block;
        width: 33%;
        justify-items: right;
    }
    .btns{
        display: flex;
        flex-direction: row;
        justify-content:space-around ;
    }
    .submit{
        padding: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    background: transparent;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    width: 14%;
    transform: translate(50%,50%);
    }
}
@media(max-width : 770px){
    .title{
        margin: 35px 0;
        font-size: 1rem;
        letter-spacing: .2em;
    }
    .form{
        width: 75%;
        height: 180%;
        background-size: cover;
    }
    .l-reference{
        font-size: .75em;
        }
    .reference{
        margin-left: 2%;
    }
    .card-deck{
        display:inline-block;
        width: 40%;
        justify-items: right;
    }
    .btn{
        font-size: .81em;
        /* width: 17%; */
    }
    .submit{
        margin: 0;
        padding: 1em;
    font-size: .89em;
    transform: translate(50%,0%);
    }
    .name{
           font-size: 1.1rem;
    }
}
@media(max-width : 430px){
    .title{
        font-size: .83rem;
        letter-spacing: .13em;
    }
    .form{
        width: 75%;
        height: 180%;
        background-size: cover;
        transform: translateX(14%);
        padding: 20px 3px 20px;
    }
    .l-reference{
        font-size: .71em;
        }
    .reference{
        margin-left: 1%;
        width: 90%;
    }
    .card-deck{
        display:inline-block;
        transform: translateX(27%);
        width: 66%;
        margin-bottom: 5%;
        justify-items: center;
    }
    .btn{
        font-size: .81em;
    }
    .submit{
        padding: .7em;
        width: 23%;
    font-size: .8em;
    }
    
}
@media(max-width : 340px){
    .form{
        width: 85%;
        height: 180%;
        background-size: cover;
        transform: translateX(9%);
        padding: 19px 0px 10px;
    }
    
    .card-deck{
        display:inline-block;
        transform: translateX(5%);
        width: 93%;
        margin-bottom: 5%;
        justify-items: center;
    }
    .btn{
        font-size: .81em;
    }
    .submit{
        padding: .66em;
        width: 26%;
    font-size: .76em;
    margin-bottom: 1%;
    }
    
}