.form{
    background-image: url('../assets/img6.jpg');
    background-size:contain;
    height: 150%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 70%;
    margin-top: 5%;
    transform: translateX(24%);
    opacity: .94;
    padding: 30px 13px 50px;
}

.l-reference{
    color: rgb(249, 246, 246);
    font-size: .9em;
    font-weight: bold;
    
    }
.reference{
            border: none;
            color:rgb(245, 241, 241);
              border-bottom:1px solid rgb(245, 241, 241);
              width: 80%;
              padding: 5px 0;
              margin-bottom: 4%;
              font-size: .8;
              background-color: transparent;
              outline: none;
    }
    .champ{
      margin-left: 5%;
    }
.submit{
    color: #090909;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    background: transparent;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    width: 12%;
    transform: translate(50%,50%);
    /* margin-top: 16%; */
}
   
 .submit:hover {
    border: 1px solid black;
    font-size: 1.05em;
    transition: all .3s;
   }



   /* lists */
 .title{
    margin: 25px 0;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    letter-spacing: .2em;
    line-height: 10px;
}
.liste{
    width: 60%;
    margin-left: 22%;
    background-color: #d9e9fb;
    border-radius: 16px;
    box-shadow: -15px 0px 10px -15px rgba(27, 100, 173,.43),
                0px 15px 10px -15px rgba(27, 100, 173,.43);
}
.name{
    color: black;
    font-size: 1.5rem;
}
.name:hover{
    text-decoration: none;
    color: rgb(27, 100, 173);
    transition: all .25s;
}
h4{
    margin-top: 2%;
    margin-bottom: 1rem;
}